In [12]:
# 1. subtracting two complex numbers.

def subComplex(a, b):
    return a-b
a = complex(2,3)
b = complex(3,4)

print(a-b)

(-1-1j)

In [18]:
# 2.Finding the fourth root of a number.

a = int(input())
n = float(input())

nthRoot_of_num = a**(1/n)

print(nthRoot_of_num)

9755555653298561
4
9938.32060402194

In [22]:
# 3. swaping two numbers in Python with the help of a temporary variable

a = int(input())
b = int(input())

temp = a

a = b
b = temp

print('a,b after swaping: ',a,b)

3
6
a,b after swaping:  6 3

In [23]:
# 4. swaping two numbers in Python without using a temporary variable.

a = int(input())
b = int(input())

a,b = b,a

print('a,b after swaping: ',a,b)

3
8
8 3

In [30]:
# 5. converting fahrenheit to kelvin and celsius both.

F = float(input("Enter Ferenheit (Degree): "))
C = (5 * (F - 32)) / 9
K = C +273

print('Temperature in kelvin: {:.3f} '.format(K))
print('temperature in celcius: {:.3f} '.format(C))

Enter Ferenheit (Degree): 43
Temperature in kelvin: 279.111
temperature in celcius: 6.111

In [33]:
# 6. Demonstrating all the available data types in Python.

a = 'Hello'
b = 57
c = 83.76
d = 2+3j
e = True
f = [5,6,'hi',5.5]
g = (5,6,9.8,'hello')
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>